
<div class="all" >
    <p-chart type="doughnut"
    [data]="data" 
    ></p-chart>

    <div class="date">
        <label for="dateformat" id="from">From: </label>
        <input id="fromdate" type="date">
        <label for="dateformat" id="to">To: </label>
        <input id="todate" type="date">
        <br>
        <div class="button">
            <button type="button" class="btn btn-outline-info" (click)="showData()">Show Data</button>
        </div>
        

    </div>
        
</div>

           
                      


